<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PasteIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9C92E9F1C093E1300A61A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9C92EBB1C093E1300A61A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9C92EC61C093E1300A61A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
